@model IEnumerable<NotificationList.Models.OverGroup>

@{
    ViewBag.Title = "Notification List";
}



<h2>Notification List</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@

    @Html.TextBox("txtDBName")
    <input type="button"
           id="btnDBConnect"
           value="Connect Database"
           onclick=onButtonClick() />

</p>
<div id="tabs">
    <ul class="nav nav-tabs">
        @*<li class="nav active"><a data-toggle="tab" href="#home" id="default">ISPs</a></li>*@
        <li class="nav active"><a data-toggle="tab" href="#menu1" id="tabSSN">Overgroup SSN</a></li>
        <li class="nav"><a data-toggle="tab" href="#menu2" id="tabDOB">Overgroup DOB</a></li>
        <li class="nav"><a data-toggle="tab" href="#menu3" id="tabFN">Overgroup FirstName</a></li>
        <li class="nav"><a data-toggle="tab" href="#menu4" id="tabLN">Overgroup LastName</a></li>
        <li class="nav"><a data-toggle="tab" href="#menu5" id="tabFNLN">FN & LN</a></li>
        <li class="nav"><a data-toggle="tab" href="#menu6" id="tabSubPopulation">Subpopulation QA</a></li>
        <li class="nav"><a data-toggle="tab" href="#menu7" id="tabFullPopulation">Full Population QA</a></li>
        <li class="nav"><a data-toggle="tab" href="#menu8" id="tabEntity">Entity</a></li>
    </ul>
    <div class="tab-content">
        @*<div id="home" class="tab-pane fade in active">
            @Html.Partial("DataListView")
        </div>*@
        <div id="menu1" class="tab-pane fade in active">
        </div>
        <div id="menu2" class="tab-pane fade">
        </div>
        <div id="menu3" class="tab-pane fade">
        </div>
        <div id="menu4" class="tab-pane fade">
        </div>
        <div id="menu5" class="tab-pane fade">
        </div>
        <div id="menu6" class="tab-pane fade">
        </div>
        <div id="menu7" class="tab-pane fade">
        </div>
        <div id="menu8" class="tab-pane fade">
        </div>

    </div>

</div>


<script type="text/javascript">

    var currId;
    var currDivID;
    var currDatabase;

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        currId = $(e.target).attr("id");
        currDivID = e.target.hash;
        currDatabase = document.getElementById("txtDBName").value;

        if (currDatabase == undefined || currDatabase == null || currDatabase.trim() == "") {
            return;
        }

        $.ajax({
            url: '/OverGroup/OGSSN',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            data: {
                tabIdName: currId,
                databaseName: currDatabase,
                IsUpdateReviewFlag: "",
                cra_parentrecordid: "",
                cra_uniqueid: "",

            },
            dataType: 'html',
            success: function (result) {
                $(currDivID).html(result);
            }
        });
    });


    function onButtonClick(isUpdateReviewFlg,cra_parentrecordid, cra_uniqueid) {
        debugger;
        
        if (currId == undefined) currId = "tabSSN";
        if (currDivID == undefined) currDivID = "#menu1";
        currDatabase = document.getElementById("txtDBName").value;
        if (currDatabase == null || currDatabase.trim() == "" || currDatabase == undefined) {
            alert("Please enter a database name.");
            return;
        }

        $.ajax({
            url: '/OverGroup/OGSSN',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            data: {
                tabIdName: currId,
                databaseName: currDatabase,
                IsUpdateReviewFlag: (isUpdateReviewFlg == undefined ? "" : isUpdateReviewFlg),
                cra_parentrecordid: cra_parentrecordid,
                cra_uniqueid: cra_uniqueid
                
            },
            dataType: 'html',
            success: function (result) {
                $(currDivID).html(result);
            }
        });
    }

</script>


